[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbaar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://github.com/vim-latex/vim-latex.git
[submodule "bundle/autopairs"]
	path = bundle/autopairs
	url = git://github.com/jiangmiao/auto-pairs.git
