[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
